<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don Italo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/decoraciones.css') }}">
</head>
<body>
    <div class="header">
        <h1>DON ITALO</h1>
        <div class="search-bar">
            <input type="text" placeholder="Busca tu producto">
        </div>
    </div>
    <div class="nav-bar">
        <a href="/index">Inicio</a>
        <a href="/vestimentas">Vestimentas</a>
        <a href="/decoraciones">Decoraciones</a>
        <a href="/tecnologias">Tecnologías</a>
    </div>
    <div class="products">
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/718cQsxYvQL.jpg" alt="Sopote de pared esquina estantes acabado natural" width="180" height="200">
            <h2>Sopote de pared esquina estantes acabado natural</h2>
            <div class="rating">★★★★★ 62,381</div>
            <div class="price">US$ 24.70</div>
        </div>
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/81jRHqNi3aL.jpg" alt="Camino de mesa bohemio para decoración del hogar" width="200" height="200">
            <h2>Camino de mesa bohemio para decoración del hogar</h2>
            <div class="rating">★★★★★ 2,912</div>
            <div class="price">US$ 12.99</div>
        </div>
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/61Botx5eb8L.__AC_SR166,182___.jpg" alt="12 tiras de seda artificial de 78 pies" width="190" height="200">
            <h2>12 tiras de seda artificial de 78 pies</h2>
            <div class="rating">★★★★★ 2,912</div>
            <div class="price">US$ 12.99</div>
        </div>
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/81-TV0zU7CL._AC_UF894,1000_QL80_.jpg" alt="Lienzo abstracto grande de pared de sala" width="200" height="200">
            <h2>Lienzo abstracto grande de pared de sala</h2>
            <div class="rating">★★★★★ 20</div>
            <div class="price">US$ 59.99</div>
        </div>
        <div class="product">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71PsN29cHxL._AC_UL600_SR600,600_.jpg" alt="GuassLee 50 piezas de decoraciones de fiestas de fútbol de 12 onzas" width="200" height="200">
            <h2>GuassLee 50 piezas de decoraciones de fiestas de fútbol de 12 onzas</h2>
            <div class="rating">★★★★★ 1,503</div>
            <div class="price">US$ 14.99</div>
        </div>
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/71joJ8ioroL._AC_UF894,1000_QL80_.jpg" alt="Plantas artificiales en maceta de 11 pulgadas para decoración del hogar" width="170" height="200">
            <h2>Plantas artificiales en maceta de 11 pulgadas para decoración del hogar</h2>
            <div class="rating">★★★★★ 5,654</div>
            <div class="price">US$ 15.99</div>
        </div>
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/815GoTneCvL.jpg" alt="Estatua de elefante para decoración del hogar, figuras de elefante con tronco arriba" width="200" height="200">
            <h2>Estatua de elefante para decoración del hogar, figuras de elefante con tronco arriba</h2>
            <div class="rating">★★★★★ 2,315</div>
            <div class="price">US$ 13.99</div>
        </div>
        <div class="product">
            <img src="https://http2.mlstatic.com/D_Q_NP_911449-MPE74850811377_032024-O.webp" alt="Estatua de elefante para decoración del hogar, figuras de elefante con tronco arriba" width="200" height="200">
            <h2>Lampara De Techo Colgante 3 Anillos Aros 3 Tonos De Luz Ne</h2>
            <div class="rating">★★★★★ 2,154</div>
            <div class="price">US$ 25.69</div>
        </div>
        <div class="product">
            <img src="https://http2.mlstatic.com/D_NQ_NP_938583-MPE73494565586_122023-O.webp" alt="Estatua de elefante para decoración del hogar, figuras de elefante con tronco arriba" width="200" height="200">
            <h2>Tira Luces Led Rgb Con Control Bluetooth 30 Metros (2 X 15m)</h2>
            <div class="rating">★★★★★ 2,154</div>
            <div class="price">US$ 25.69</div>
        </div>
    </div>
</body>
</html>
