<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don Italo</title>
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
</head>
<body>
    <div class="header">
        <h1>DON ITALO</h1>
        <div class="search-bar">
            <input type="text" placeholder="Busca tu producto">
        </div>
    </div>
    <div class="nav-bar">
        <a href="/index">Ofertas del día</a>
        <a href="/vestimentas">Vestimentas</a>
        <a href="/decoraciones">Decoraciones</a>
        <a href="/tecnologias">Tecnologías</a>
    </div>
    <div>
        <div class="fondo">
            <div class="iniciar_seccion">
                <form>
                <h2>Registro Personal</h2>
                <div class="preguntas">
                    Nombre:
                    <input type="text" placeholder="Nombre" required>
                </div>
                <div class="preguntas">
                    Apellidos:
                    <input type="text" placeholder="Apellidos" required>
                </div>
                <div class="preguntas">
                    DNI:
                    <input type="text" placeholder="DNI" required>
                </div>
                <div class="preguntas">
                    Correo:
                    <input type="text" placeholder="Correo" required>
                </div>
                <div class="preguntas">
                    Número:
                    <input type="text" placeholder="Número" required>
                </div>
                <div class="preguntas">
                    Ubicación:
                    <input type="text" placeholder="Ubicación" required>
                </div>
                <div class="enviar">
                    <input type="submit" value="Continuar">
                </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>