<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don Italo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tecnologias.css') }}">
</head>
<body>
    <div class="header">
        <h1>DON ITALO</h1>
        <div class="search-bar">
            <input type="text" placeholder="Busca tu producto">
        </div>
    </div>
    <div class="nav-bar">
        <a href="/index">Inicio</a>
        <a href="/vestimentas">Vestimentas</a>
        <a href="/decoraciones">Decoraciones</a>
        <a href="/tecnologias">Tecnologías</a>
    </div>
    <div class="products">
        <div class="product">
            <img src="https://i5.walmartimages.com/asr/fee4af78-110f-467c-86d2-6d6f27ba1afe.8422413b3b9eb231cea3f43d11a5a5c4.jpeg" alt="Vestido de sobrepelliz para mujer" width="200" height="200">
            <h2>iPhone 14 Pro Max 256GB Gold</h2>
            <div class="rating">★★★★★ 8,770</div>
            <div class="price">US$ 25.44</div>
        </div>
        <div class="product">
            <img src="https://progamer.pe/cdn/shop/products/MSIGEFORCERTX4090GAMINGTRIO24G_4.png?v=1666446744&width=1445" alt="MSI GEFORCE RTX 4090 GAMING TRIO 24G" width="200" height="200">
            <h2>MSI GEFORCE RTX 4090 GAMING TRIO 24G</h2>
            <div class="rating">★★★★★ 175</div>
            <div class="price">US$ 44.99</div>
        </div>
        <div class="product">
            <img src="https://todotec.com.pe/cdn/shop/products/hp-imp-107w-1.png?v=1668122665" alt="Impresora Laser Monocromática HP 107W Wireless (4ZB78A)" width="200" height="200">
            <h2>Impresora Laser Monocromática HP 107W Wireless (4ZB78A)</h2>
            <div class="rating">★★★★★ 5,648</div>
            <div class="price">US$ 17.99</div>
        </div>
        <div class="product">
            <img src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaPE/115712312_01/w=800,h=800,fit=pad" alt="Licuadora industrial digital 1500 watts" width="200" height="200">
            <h2>Licuadora industrial digital 1500 watts</h2>
            <div class="rating">★★★★★ 63,548</div>
            <div class="price">US$ 24.70</div>
        </div>
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/71CfoWrAcmL.jpg" alt="Gildan G1103" width="200" height="200">
            <h2>Garmin - Fenix 7 Solar GPS Smartwatch 1.850 in - Gris Pizarra - 010-02540-10</h2>
            <div class="rating">★★★★★ 45</div>
            <div class="price">US$ 19.97</div>
        </div>
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/71mMub4Ls2L.jpg" alt="Altavoz Bluetooth de levitación magnética" width="200" height="200">
            <h2>Altavoz Bluetooth de levitación magnética, reproducción de música y flotación en el aire, con sonido más fuerte de 5 W, Bluetooth 5.1</h2>
            <div class="rating">★★★★★ 86</div>
            <div class="price">US$ 8.00</div>
        </div>
        <div class="product">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61pl9nc9GEL._AC_UL600_SR600,600_.jpg" alt="Nuevos auriculares LCD Smart Touch Premier Bluetooth 2024" width="200" height="200">
            <h2>Nuevos auriculares LCD Smart Touch Premier Bluetooth 2024</h2>
            <div class="rating">★★★★★ 1,564</div>
            <div class="price">US$ 34.99</div>
        </div>
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/51OnO5BqZuL.jpg" alt="Gafas Air 2 AR – Lentes inteligentes con micro OLED de 201 pulgadas, ultra rápido 120 Hz, brillo de 600 nits" width="200" height="200">
            <h2>Gafas Air 2 AR – Lentes inteligentes con micro OLED de 201 pulgadas, ultra rápido 120 Hz, brillo de 600 nits</h2>
            <div class="rating">★★★★★ 4,542</div>
            <div class="price">US$ 29.99</div>
        </div>
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/51XaLitmvBL.jpg" alt="Oculus Quest 2 - Juego de auriculares de realidad virtual de 256 GB" width="200" height="180">
            <h2>Oculus Quest 2 - Juego de auriculares de realidad virtual de 256 GB</h2>
            <div class="rating">★★★★★ 4,542</div>
            <div class="price">US$ 29.99</div>
        </div>
    </div>
</body>
</html>
