<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don Italo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vestimenta.css') }}">
</head>
<body>
    <div class="header">
        <h1>DON ITALO</h1>
        <div class="search-bar">
            <input type="text" placeholder="Busca tu producto">
        </div>
    </div>
    <div class="nav-bar">
        <a href="/index">Inicio</a>
        <a href="/vestimentas">Vestimentas</a>
        <a href="/decoraciones">Decoraciones</a>
        <a href="/tecnologias">Tecnologías</a>
    </div>
    <div class="products">
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/71CjOxKqIuL._AC_UY1000_.jpg" alt="Vestido de sobrepelliz para mujer" width="150" height="200">
            <h2>Vestido de sobrepelliz para mujer (Disponible de grande)</h2>
            <div class="rating">★★★★★ 8,770</div>
            <div class="price">US$ 25.44</div>
        </div>
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/81ydWGEkAZL._AC_UY1000_.jpg" alt="ANRABESS Vestido midi verano" width="130" height="200">
            <h2>ANRABESS Vestido midi verano con cuello en V y mangas volantes para mujer</h2>
            <div class="rating">★★★★★ 175</div>
            <div class="price">US$ 44.99</div>
        </div>
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/61MDzS+5KpL._AC_SL1000_.jpg" alt="Surenow Pantalones cortos deportivos" width="220" height="200">
            <h2>Surenow Pantalones cortos deportivos 2 en 1 para hombre, de secado rápido</h2>
            <div class="rating">★★★★★ 5,648</div>
            <div class="price">US$ 17.99</div>
        </div>
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/91NyBQYUMzL._AC_SL1500_.jpg" alt="Essentials Pantalones cortos" width="250" height="200">
            <h2>Essentials Pantalones cortos de corte holgado Performance Tech para hombre</h2>
            <div class="rating">★★★★★ 63,548</div>
            <div class="price">US$ 24.70</div>
        </div>
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/71TCI289J4L._AC_SL1500_.jpg" alt="Gildan G1103" width="200" height="200">
            <h2>Gildan G1103 - Camisetas de cuello en V para hombre, paquete múltiple</h2>
            <div class="rating">★★★★★ 45</div>
            <div class="price">US$ 19.97</div>
        </div>
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/61BjmkGVrJS._AC_SL1500_.jpg" alt="Fruit of the Loom Eversoft" width="250" height="200">
            <h2>Fruit of the Loom Eversoft - Camisetas de algodón de manga corta</h2>
            <div class="rating">★★★★★ 86</div>
            <div class="price">US$ 8.00</div>
        </div>
        <div class="product">
            <img src="https://i0.wp.com/imperiumstore.pe/wp-content/uploads/2022/09/BAD_BUNNY_FORUM_Marron_GW0264_04_standard.jpg?fit=300%2C300&ssl=1" alt="Fruit of the Loom Eversoft" width="200" height="200">
            <h2>Adidas Forum Low Bad Bunny Brown</h2>
            <div class="rating">★★★★★ 1,564</div>
            <div class="price">US$ 34.99</div>
        </div>
        <div class="product">
            <img src="https://m.media-amazon.com/images/I/71emDhRitUL._AC_UY900_.jpg" alt="Zapatos de correr" width="250" height="200">
            <h2>Zapatos de correr para hombre, mocasines de suela suave, cómodos y ligeros</h2>
            <div class="rating">★★★★★ 4,542</div>
            <div class="price">US$ 29.99</div>
        </div>
        <div class="product">
            <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/disuwww5uxkqulu2aivh/air-max-plus-iii-zapatillas-mJkmzK.png" alt="Zapatos de correr" width="200" height="200">
            <h2>Nike Air Max Plus III
                Zapatillas - Hombre</h2>
            <div class="rating">★★★★★ 4,542</div>
            <div class="price">US$ 29.99</div>
        </div>
    </div>
</body>
</html>
